html body {
  background-color: #3B414B;
}

.App {
  /*text-align: center;*/
  display: flex;
  /*height: 100vh;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1E2227;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px; /* Optional padding for the navbar */
}

.menu-ops {
  margin-left: 2%;
}

.menu-ops a {
  color: #FFBC10 !important;
  font-family: Helvetica, sans-serif;
}

.cm-logo {
  height: auto;
  width: 80px;
  text-align: center;
  margin: auto;
}

header > .row {
  --bs-gutter-x: 0 !important;
}

.cm-logo img {
  height: auto;
  width: 60px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

.custom-field {
  position: relative;
  font-size: 14px;
  padding-top: 2%;
  margin: auto;
  width: 80%;
  text-align: center !important;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  outline: none;
}

.custom-field .pholder {
  position: absolute;
  left: 12px;
  top: calc(50% - 10px);
  transform: translateY(-10%);
  color: #aaa;
  transition:
    top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}

.custom-field input:valid,
.custom-field input:focus {
  border-color: #222;
  transition-delay: 0.1s;
}

.custom-field input + .pholder {
  padding: 0 5px;
  left: 8px;
}

.custom-field input:valid + .pholder,
.custom-field input:focus + .pholder {
  top: 0px;
  font-size: 10px;
  background: #f0f0f0;
}

.App-link {
  color: #61dafb;
}

.cm-logo {
  color: #FFBC10 !important;
  font-family: Helvetica, sans-serif;
}

.cm-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text inside the box */

  /* Optional: Add some padding and a border for styling */
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 400px !important; /* Set a fixed width for the box, adjust as needed */
  margin: 10% auto 0 !important;
}

.cm-form form {
  width: 100%;
  /*text-align: left; !* Add text-align property to make the inputs left-justified *!*/
}

.cm-form input {
  width: 100%; /* Ensure the input fields take up the full width of the form */
  margin-bottom: 10px; /* Optional spacing between input fields */
  padding: 10px; /* Optional padding for input fields */
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* SWIPING CSS */

/* Card container styling */
.card-container {
  width: 400px; /* Set a fixed width for the card container */
  /*height: 100%;*/
  position: relative;
  padding-top: 2%;
  margin: 0 auto; /* Center the card container horizontally */
  text-align: center;
  justify-content: center; /* Center the content horizontally within the card container */
  align-items: center; /* Center the content vertically within the card container */
}

/* Individual card style */
.card {
  width: 100%; /* Make sure the individual cards take the full width of the container */
  max-width: 100%; /* Ensure the card does not exceed the container's width */
  height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: absolute; /* Position the cards absolutely for stacking */
  cursor: pointer;
  text-align: center;
}


/* Liked, Maybe, Disliked cards styling */
.liked-cards,
.maybe-cards,
.disliked-cards {
  color: aliceblue;
  margin-top: 20px;
}

.buttons {
  margin: 20px;
  display: flex; /* Create a flex container for the buttons */
  justify-content: center; /* Center the buttons horizontally within the container */
}

button {
  background-color: #FF7A00;
  width: auto;
  display: inline-block; /* Display the buttons inline to make them side by side */
  margin: 100px; /* Add margin to separate the buttons (adjust as needed) */
}


/* On hover, darken button color */
button:hover {
  background-color: #FFBC10;
}

.sideMenu {
  width: 200px !important;
  padding: 20px;
  min-height: 100vh;
  flex: 0 0 auto; /* Side menu takes up 1 part of the available space */
  background-color: #FBE4A9; /* Optional: Set a background color for the side menu */
  /*border-right: 10px solid #ccc; !* Optional: Add a border on the right side *!*/
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ROOM STYLING */
.Room h1 {
  color: #FFBC10;
}

.profile {
  text-align: center;
}

.searchArea {
  width: 90%;
  background-color: #FFBC10;
  text-align: center;
  min-height: 80vh;
  margin: auto;
  margin-bottom: 10% !important;
  padding: 20px;
}

.desc {
  text-align: left;
}

ul {
  list-style: none; /* Remove list-style dots */
}

/*Room styling*/
.cm-form.room {
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.5); /* Red with 50% opacity */
  text-align: center; /* Center-align the content */
}


.cm-form.waitingRoom {
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.5); /* Red with 50% opacity */
  justify-content: flex-start;
}

.cm-form.waitingRoom h3 {
  margin-bottom: 80px;
}/* Add some bottom margin to separate room number and waiting message */

.roomNumber{
  text-align: center; /* Center-align the content */
  margin-top: 20px;
  margin-left: 100px;
}

/*Final Result style*/
.cm-form.result{
  background-color: #aaa !important;
  padding: 5px;
  margin-top: 10px !important;
}

.result-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; /* Adjust the margin between list items */
}

.result-list li {
  margin: 10px; /* Adjust the margin between list items */

}

.resultPoster {
  position: relative;
  width: 20rem;
  height: 8rem; /* Set a fixed height for the poster */
  overflow: hidden;
  border: 2px solid #FFBC10; /* Adjust the border color and width */
  margin-bottom: 20px;
}

.resultPoster img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(40%) blur(3px);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%); /* Clip the image to the middle part */
  opacity: 0.9; /* Adjust the opacity level */
  border: 2px solid #FFBC10; /* Adjust the border color and width */
}


.movieTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px; /* Adjust the font size */
  font-weight: bold;
  text-align: center;
  width: 80%; /* Set a width to prevent long titles from overflowing */
}

.idNumber {
  color: black; /* or any other color you prefer */
  -webkit-text-stroke: 1px #FFBC10; /* for WebKit browsers like Chrome and Safari */
}

.cm-form.result h1{
  padding-top: 20px;
  color: #FFBC10;
}

.cardArea {
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex: 1; /* Card area takes up 2 parts of the available space */
  margin-left: 100px;
}

.cardContainer {
  padding-top: 2%;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
}

.posterContainer {
  height: 40rem;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.posterImage {
  height: 100%;
  object-fit: cover;
}

.darkOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;  /* Adjust the height of the dark overlay as needed */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.darkOverlay h2 {
  position: absolute;
  bottom: 0;
  left: 10px; /* Adjust the left position as needed */
  text-align: start;
  margin: 0; /* Remove default margin */
  color: white; /* Set the text color as needed */
  padding: 10px;
  padding-bottom: 20px;
}









