/* App & Header CSS */
html body {
  background-color: #3B414B;
}

.App {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1E2227;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px; /* Optional padding for the navbar */
}

.menu-ops {
  margin-left: 2%;
}

.menu-ops a {
  color: #FFBC10 !important;
  font-family: Helvetica, sans-serif;
}

.cm-logo {
  background-image: url("components\\res\\logo_v1.png") !important;
  height: auto;
  width: 80px;
  text-align: center;
  margin: auto;
}

.cm-title > h1 {
  color: black; /* or any other color you prefer */
  -webkit-text-stroke: 1px #FFBC10;
  font-family: Helvetica, sans-serif;
  margin-bottom: 0 !important;
}

header > .row {
  --bs-gutter-x: 0 !important;
}

.cm-logo img {
  height: auto;
  width: 60px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

.sideMenu {
  min-width: 225px !important;
  max-width: 22%;
  padding: 20px;
  min-height: 100vh;
  flex: 0 0 auto; /* Side menu takes up 1 part of the available space */
  background-color: #FBE4A9; /* Optional: Set a background color for the side menu */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Form CSS */
.custom-field {
  position: relative;
  font-size: 14px;
  padding-top: 2%;
  margin: auto;
  width: 80%;
  text-align: center !important;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  outline: none;
}

.custom-field .pholder {
  position: absolute;
  left: 12px;
  top: calc(50% - 10px);
  transform: translateY(-10%);
  color: #aaa;
  transition:
    top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}

.custom-field input:valid,
.custom-field input:focus {
  border-color: #222;
  transition-delay: 0.1s;
}

.custom-field input + .pholder {
  padding: 0 5px;
  left: 8px;
}

.custom-field input:valid + .pholder,
.custom-field input:focus + .pholder {
  top: 0px;
  font-size: 10px;
  background: #f0f0f0;
}

.App-link {
  color: #61dafb;
}

.cm-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text inside the box */

  /* Optional: Add some padding and a border for styling */
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 400px !important; /* Set a fixed width for the box, adjust as needed */
  margin: 10% auto 0 !important;
}

.cm-form form {
  width: 100%;
  /*text-align: left; !* Add text-align property to make the inputs left-justified *!*/
}

.cm-form input {
  width: 100%; /* Ensure the input fields take up the full width of the form */
  margin-bottom: 10px; /* Optional spacing between input fields */
  padding: 10px; /* Optional padding for input fields */
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Admin CSS */
.Admin h1 {
  color: white !important;
  text-align: center;
}

/* SWIPING CSS */

/* Card Area, where the cards lie */
.cardArea {
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex: 1; /* Card area takes up 2 parts of the available space */
  margin-left: auto;
}

/* Card container styling */
.card-container {
  width: 30rem; /* Set a fixed width for the card container */
  /*height: 100%;*/
  position: relative;
  padding-top: 2%;
  margin: auto; /* Center the card container horizontally */
  text-align: center;
  justify-content: center; /* Center the content horizontally within the card container */
  align-items: center; /* Center the content vertically within the card container */
}

/* Individual card style */
.card {
  width: 100%; /* Make sure the individual cards take the full width of the container */
  max-width: 100%; /* Ensure the card does not exceed the container's width */
  height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: absolute; /* Position the cards absolutely for stacking */
  cursor: pointer;
  text-align: center;
}

.posterContainer {
  height: 45rem;
  width: 30rem;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
}

.posterImage {
  height: 100%;
  object-fit: cover;
}

.darkOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;  /* Adjust the height of the dark overlay as needed */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.darkOverlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;  /* Adjust the height of the dark overlay as needed */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.darkOverlay h2 {
  position: absolute !important;
  bottom: 0;
  left: 10px; /* Adjust the left position as needed */
  text-align: start;
  margin: 0; /* Remove default margin */
  color: white; /* Set the text color as needed */
  padding: 10px 10px 20px;
}

.info {
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.3s; /* Add a smooth transition effect */

  &:hover {
    transform: scale(1.2); /* Adjust the scale factor for the hover effect */
  }
}

.counter{
  padding-top: 10px;
  color: #ffffff;
  text-align: center;
}


/* Liked, Maybe, Disliked cards styling */
.liked-cards,
.maybe-cards,
.disliked-cards {
  color: aliceblue;
  margin-top: 20px;
}

.buttons {
  margin: 20px;
  display: flex; /* Create a flex container for the buttons */
  justify-content: center; /* Center the buttons horizontally within the container */
}

/*button {*/
/*  background-color: #FF7A00;*/
/*  width: auto;*/
/*  display: inline-block; !* Display the buttons inline to make them side by side *!*/
/*  margin: 100px; !* Add margin to separate the buttons (adjust as needed) *!*/
/*}*/

.swipeButtons {
  background: none;
  width: 100%;
  border: none;
  padding: 0;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
}

/* On hover, darken button color */
button:hover {
  background-color: #FFBC10;
}

.dislike,
.maybe,
.like {
  background-color: #FF7A00;
  background-size: contain; /* Adjust the background size as a percentage */
  background-position: center;
  border: none;
  min-width: 120px; /* Adjust the width and height as needed */
  min-height: 120px;
  border-radius: 50%;
}

.dislike {
  /*background-image: url('components\\res\\thumbs_down.png') !important;*/
  background-size: cover;
  margin: 10% 0 0 0;
}

.maybe {
  /*background-image: url('components\\res\\shrug.png') !important;*/
  background-size: cover;
  /*min-width: 120px; !* Adjust the width and height as needed *!*/
  /*min-height: 120px;*/
  border-radius: 50%;
  margin: 10% 5% 0 5%;
}

.like {
  background-size: cover; /* Adjust the background size */
  /*background-image: url('components\\res\\thumbs_up.png') !important;*/
  margin: 10% 0 0 0;
}

.shrink-icon{
  font-size: 70px;
}

.dis-button button:hover {
  color: #FF0505;
}

.may-button button:hover {
  color: yellow;
}

.lik-button button:hover {
  color: #00AFA4;
}

.thumbsUp{
  color: rgba(0, 0, 255, 0.88);
  font-size: 50px;
}





/* Movie Search CSS */
.searchArea {
  min-width: 30%;
  max-width: 90%;
  background-color: #FFBC10;
  text-align: center;
  min-height: 5vh;
  margin: auto;
  margin-bottom: 10% !important;
  padding: 20px;
}

.desc {
  text-align: left;
}

ul {
  list-style: none; /* Remove list-style dots */
}

/*Profile CSS*/
.Profile {
  text-align: center;
  margin: 5% auto;
  min-height: 10vh;
}

.Avatar {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: auto;

  /* Add any additional styles you need for the container here */
}

.Avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;

  /* Add any additional styles you need for the image here */
}

.userInfo {
  padding: 5%;
  text-align: left;
  font-size: 1.5rem;
}


.pro {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px; /* Adjust the value based on how rounded you want the corners to be */
  padding: 20px;
  color: #FFBC10;
}


/*Room styling*/
.Room h1 {
  color: #FFBC10;
}

.cm-form.room {
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.5); /* Red with 50% opacity */
  text-align: center; /* Center-align the content */
}

.cm-form.room button {
  border-radius: 10px;
}

.cm-form.waitingRoom {
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.5); /* Red with 50% opacity */
  justify-content: flex-start;
}

.cm-form.waitingRoom h3 {
  margin-bottom: 80px;
}/* Add some bottom margin to separate room number and waiting message */

.roomNumber{
  text-align: center; /* Center-align the content */
  margin-top: 5px;
  /*margin-left: 100px;*/
}

.GSwipeArea {
  margin: 5px auto;
}

/*Final Result style*/
.cm-form.result{
  background-color: #aaa !important;
  padding: 5px;
  margin-top: 7% !important;
}

.result-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; /* Adjust the margin between list items */
}

.result-list li {
  margin: 10px; /* Adjust the margin between list items */

}

.resultPoster {
  position: relative;
  width: 20rem;
  height: 8rem; /* Set a fixed height for the poster */
  overflow: hidden;
  border: 2px solid #FFBC10; /* Adjust the border color and width */
  margin-bottom: 20px;
}

.resultPoster img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(40%) blur(3px);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%); /* Clip the image to the middle part */
  opacity: 0.9; /* Adjust the opacity level */
  border: 2px solid #FFBC10; /* Adjust the border color and width */
}


.movieTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px; /* Adjust the font size */
  font-weight: bold;
  text-align: center;
  width: 80%; /* Set a width to prevent long titles from overflowing */
}

.idNumber {
  color: black; /* or any other color you prefer */
  -webkit-text-stroke: 1px #FFBC10; /* for WebKit browsers like Chrome and Safari */
}

.cm-form.result h1{
  padding-top: 20px;
  color: #FFBC10;
}

/* Friends CSS */
.friends {
  background-color: rgba(255, 255, 255, 0.5); /* Red with 50% opacity */
  min-width: 20rem;
  max-width: 20rem;
  text-align: left; /* Center text inside the box */
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto; /* Enable scrolling if content exceeds the box height */
  margin: 5% auto auto auto !important; /* Reset the margin for .cm-form.friends */
}

.friends li {
  margin-bottom: 0.7rem;

}

.friends li button {
  margin-left: 10px;
  border-radius: 10px;
}

.friendSearch {
  width: 100%;
  position: relative;
  display: flex;
}


.searchInput {
  width: 100%;
  border: 3px solid #FFBC10;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
  margin-bottom: 0 !important;
}

.searchInput:focus {
  color: #000000;
}

.searchButton {
  width: 40px;
  border: 1px solid #FFBC10;
  background: #FFBC10;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure the overlay is above other content except darkOverlay2 */
}

.descriptionModal {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5%;
  max-width: 80%;
  max-height: 80%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 0 20px rgb(255, 188, 16);
  text-align: center;
  font-size: 1.2rem;
}

.descriptionModal p{
  color: white !important;
}

.descriptionModal h2{
  color: white !important;
}