<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>
<h1>Welcome to CinematchApp</h1>


  <p th:text="'Hello, ' + ${user.username}"></p>

<h1>User Table</h1>
<table>
  <thead>
  <tr>
    <th>User ID</th>
    <th>Username</th>
    <th>Send Friend Request</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over the list of user IDs and usernames -->
  <tr th:each="entry : ${users}">
    <td th:text="${entry.getUserId}"></td>
    <td th:text="${entry.getUsername}"></td>
    <!-- Add a button/link to send friend requests -->
    <td>
      <form th:action="@{/sendFriendRequest}" method="post">
        <input type="hidden" name="requesterId" th:value="${user.userId}" />
        <input type="hidden" name="recipientId" th:value="${entry.getUserId}" />
        <button type="submit">Add</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<h1>Friend Requests Table</h1>
<table>
  <thead>
  <tr>
    <th>Sender</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over the list of user IDs and usernames -->
  <tr th:each="request : ${requests}">
    <td th:text="${request.requester.getUsername}"></td>
    <td>
      <form th:action="@{/acceptFriendRequest}" method="post">
        <input type="hidden" name="requestId" th:value="${request.getRequestId}" />
        <button type="submit">Accept</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>


<h1>Friendship Table</h1>
<table>
  <thead>
  <tr>
    <th>Friend Name</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over the list of user IDs and usernames -->
  <tr th:each="friendship : ${friendships}">
    <td th:text="${friendship.friendUser.getUsername}"></td>
  </tr>
  </tbody>
</table>

<a href="/logout">Logout</a>

</body>
</html>
